@media (max-width: 1045px) {
  .sign-in-container {
    flex-direction: column !important;
    align-items: center;
    gap: 3rem;
  }

  .vr-signin {
    display: none;
  }

  .sign-in-container {
    padding-top: 45px;
    padding: 45px 0 20px;
  }
}
