.button-container {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #161625;
  color: white;
  text-transform: uppercase;
  font-family: 'Sen';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: white;
    color: #161625;
    border: 1px solid #161625;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.small {
    height: 35px;
    min-width: 40px;

    &:hover {
      background-color: white;
      color: #161625;
      border: 1px solid #161625;
    }
  }

  &.inverted {
    background-color: white;
    color: #161625;
    border: 1px solid #161625;

    &:hover {
      background-color: #161625;
      color: white;
    }
  }
}

.dropdown-button-container {
  min-width: 105px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 14px;
  background-color: #161625;
  color: white;
  text-transform: uppercase;
  font-family: 'Sen';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;

  &:hover {
    background-color: white;
    color: #161625;
    border: 1px solid #161625;
  }
}

.dropdown-button-item {
  &:hover {
    background-color: #d9d9d9;
  }
}
