.image-container {
  position: relative;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid {
  display: grid;
  column-gap: 10px;
  row-gap: 15px;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.product__feature__section__container {
  border-radius: 5px;
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  background-color: rgb(221, 220, 220);
  display: flex;
  flex-direction: column;
}

.h-full {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* You can adjust the overlay background color and opacity as needed */
  z-index: 1; /* Ensure the overlay is on top of the image */
}

.product__feature__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  /* You can adjust the overlay background color and opacity as needed */
  z-index: 1; /* Ensure the overlay is on top of the image */
}

.product__feature__overlay-img::after {
  content: '' attr(alt) !important;
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
  padding: 1rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  align-items: center;
}

/* Style for individual product items within the overlay */
.overlay a {
  text-decoration: none;
  color: #fff; /* Text color for product links */
  margin: 10px; /* Adjust the spacing between product items */
}

/* Style for ProductPageItem components */
/* You can define styles for your product items here, such as background color, padding, border, etc. */

.product-overlay__container {
  width: 30%;
}

@media (max-width: 1100px) {
  .product-overlay__container {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .grid-cols-4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .featured-stats-list {
    display: flex;
    flex-direction: column;
    
  }
}

@media (max-width: 620px) {
  .product-overlay__container {
    width: 80%;
  }

  .featured-stats-list {
    gap: 30px 20px;
  }
}
